body {
  margin: 0;
}

.header {
  position: relative;
  height: 30px;
  background-color: navy;
}
.header .top {
}
.top a {
  float: right;
  text-align: center;

  color: white;
  font-family: Arial, Helvetica, sans-serif;

  padding: 5px 10px;
  text-decoration: none;
}

.nav-container {
  background-color: rgb(35, 27, 142);
  padding-top: 150px;
}
.nav {
  overflow: hidden;
  background-color: rgb(35, 27, 142);

  max-width: 1200px; /* Limits the maximum width */
  margin: 0 auto; /* Centers the nav element horizontally */

  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.nav a {
  float: left;
  display: block;
  text-align: center;

  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  font-weight: bold;

  padding: 14px 16px;
  text-decoration: none;

  border-right: 1px solid gray;

  transition: border-top 0.3s ease; /* Adjust the duration and timing function as needed */
}

.nav a.home:hover {
  border-top: 4px solid rgb(245, 143, 143);
}
.nav a.world:hover {
  border-top: 4px solid rgb(251, 150, 96);
}
.nav a.culture:hover {
  border-top: 4px solid rgb(74, 175, 252);
}
.nav a.sport:hover {
  border-top: 4px solid rgb(250, 247, 78);
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;

  height: 1000px;

  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.content {
}

.footer {
  height: 200px;
  background-color: grey;
}
